<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Game Zone - Home')"></head>

<body class="d-flex flex-column h-100">

<!-- Insertar el fragmento del header -->
<header th:replace="fragments/header :: header"></header>

<!-- Contenido dinámico -->
<main class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Game Zone</h1>
        <p class="lead">Alejandro Angulo Mendez</p>
    </div>
</main>


<!-- Insertar el fragmento del footer -->
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
